{% extends 'base.html.twig' %}

{% block title %}Hello ReceiptsController!{% endblock %}

{% block body %}
    ระยะเวลา ตั้งแต่วันที่
    <a href="{{ path('expenses') }}" class="btn btn-outline-success btn-lg btn-block" role="button" aria-pressed="true">Expenses</a>
    <p><button>Export to Excel</button></p>
{% endblock %}
